@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Quicksand";
  color: #333;
}

/* --------App.js--------*/
.App {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  margin-left: 12px;
}

.article {
  width: 77%;
  margin-right: 3%;
  background-color: #f0f0f0;
  padding: 20px;
  position: relative;
  border-radius: 4px;
}

.winning-message {
  color: #5e8ed2;
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #f0f0f0;
  padding: 16px;
  font-size: 20px;
}

.reset-game-button {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
  color: #89a6cf;
  right: 40px;
  font-size: 20px;
  top: 5px;
}

.reset-game-button:hover {
  color: #a2b3cb;
}

.guess-words {
  width: 20%;
  top: 0;
  height: calc(100vh - 32px);
  display: flex;
  flex: 1;
  z-index: 1;
  padding: 15px;
  border: 1px solid #c5ddff;
  border-radius: 5px;
  background-color: #c5ddff;
  position: fixed;
  right: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.box-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: #ccc;
}

.box:hover .box-text {
  display: block;
}

.article-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  line-height: 0.01em;
  padding-right: 10px;
  padding-top: 50px;
}

.article-box > * {
  margin-bottom: 10px;
}

.box {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 1.5em;
  margin-bottom: 10px;
  background-color: #ccc;
}

.box:first-child {
  position: absolute;
  top: 18px;
  left: 20px;
  border: 1px solid #827e7e;
  margin: auto;
  font-size: 32px;
  padding-left: 24px;
  padding-right: 24px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.title-word {
  position: absolute;
  top: 60px;
  left: 20px;
  margin: auto;
  z-index: 3;
}

.instructions-link {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
  color: #89a6cf;
  right: 40px;
}

.instructions-link:hover {
  color: #a2b3cb;
}

/* --------GuessWords.js-------- */
.guessed-words-list {
  font-size: 18px;
  padding-left: 10px;
}

.words-box-wrapper {
  width: 100%;
  margin-top: 20px;
  /*   max-height: 100vh;
  overflow-y: scroll; */
}

button.submit-guess {
  display: inline-block;
  margin-top: 6px;
  padding: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
}

button.submit-guess:hover {
  background-color: rgb(217, 217, 217);
}

.words-box label {
  margin-right: 2px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

input {
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: inline-block;
}

/* --------GameInstructions.js-------- */
.popup {
  position: fixed;
  top: 50%;
  left: 38.5%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #ffffff;
  border: 1px solid #636262;
  box-shadow: 0px 0px 8px #636262;
  padding: 20px;
  max-width: 400px;
}

.instructions-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.instructions-link-close {
  background: none;
  border: none;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
  color: #89a6cf;
}

.instructions-link-close:hover {
  color: #a2b3cb;
}

@media (max-width: 900px) {
  /* --------App.js--------*/
  .App {
    overflow: hidden;
  }

  .instructions-link {
    right: 2%;
  }

  .reset-game-button {
    right: 2%;
  }

  .article {
    width: 100%;
    margin-left: 7px;
    margin-right: 0;
  }

  .guess-words {
    width: 100%;
    max-height: 250px;
    bottom: 0;
    top: auto;
    position: fixed;
    left: 0;
  }

  /* --------GuessWords.js-------- */
  .words-box-wrapper {
    width: 100%;
  }

  .guessed-words-list {
    max-height: 150px;
    padding-left: 22%;
    overflow-y: scroll;
  }

  form {
    margin-bottom: 0px;
  }

  /* --------GameInstructions.js-------- */
  .popup {
    top: 50%;
    left: 50%;
  }
}

@media (max-width: 600px) {
  /* --------App.js-------- */
  .reset-game-button {
    font-size: 14px;
    top: 9px;
  }

  .instructions-link {
    font-size: 13px;
    right: 4%;
  }

  /* --------GameInstructions.js-------- */

  .instructions-text {
    font-size: 13px;
  }
}

@media (max-width: 460px) {
  /* --------App.js-------- */
  .reset-game-button {
    top: 44px;
  }

  .instructions-link {
    right: 16%;
  }
}
/* //fixa skrollen i fullt läge i .words-box-wrapper  */
